body {max-width: 90%;
margin: auto;
    background-image: url("images/china.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: calluna-regular, arial, serif;
    background-position: bottom right;
    min-height: 100vh;

}

.duif  {margin-bottom: 75px;}


#contact h3 {text-align: center;
padding: 5px;}

#contact p { font-family: calluna-regular, arial, serif;
    word-spacing: 5px;
    font-size: 15px;
    color: #241919;
    font-weight: bold;
    text-align: center;
    padding: 20px;

}


#contact .footy {
    background-color: #1c2820;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact .footer-text {

    text-align: center;
    color: #fffff0;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#contact  .source {color: #fffff0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}




#gorius {

    max-width: 90%;
    margin: auto;
    background-image: url("images/china.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: calluna-regular, arial, serif;
    background-position: bottom right;

}

#gorius p { font-family: calluna-regular, arial, serif;
               word-spacing: 5px;
               font-size: 15px;
               color: #241919;
    font-weight: bold;
    text-align: center;
    padding: 20px;

           }

#gorius .second-section {background-color: rgba(99, 209, 99, 0.37);
    box-shadow: 0 0 5px #191919;}

#gorius .footy {
    background-color: #1c2820;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gorius .footer-text {

    text-align: center;
    color: #fffff0;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#gorius  .source {color: #fffff0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}


#gorius p { font-family: calluna-regular, arial, serif;
    word-spacing: 5px;
    font-size: 15px;
    color: #241919;
    font-weight: bold;
    text-align: center;
    padding: 20px;

}


a {text-decoration: none;
color: blue; }
a:visited {color: purple;}
a:hover {color: #0cbfff;}


p { font-family: arial, serif;
    word-spacing: 5px;
    font-size: 15px;
    color: #241919;

}

.good, .bad { text-transform: capitalize;}
.good {color: green;}
.bad {color: red;}

.writer {top: -50px;}

blockquote {
margin: auto;
text-align: center;
padding: 5px;
    width: 45%;
background-color: white;}

.img-fluid {float: left !important;}

aside {position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    float: right;
    align-self: flex-end;}

aside p {color: black;
font-weight: bold;
    padding:.5rem 1rem;
    border:3px solid blue;
    width:250px;
    background-color: yellow;}

q { margin: 80px 0 80px 0;
font-size: 160%;
background-color: #d3d3d37d;
border-left: 3px dashed;
padding: 30px;
font-style: italic;}

.farmer {border-left: 3px dashed deeppink;}
.neighbors {border-left: 3px dashed blueviolet;}


table { width: 50% !important;
    border:2px solid black !important;
    --bs-table-striped-color: black !important;
    margin: auto !important;
    margin-top: 20px !important;}

table figcaption {color: black;}

.tabletext {color: black;
font-weight: bold;}

.tabletextbottom { color: black;
    background-color: #ffffd5;
    padding: 22px;

}

.conclusion {color: black;
    padding: 0 !important;
    background-color: #ffffd5;
    position: absolute;
}

caption { caption-side: top !important;
color: black;
font-weight: bold;
text-align: center;}

tbody tr:nth-of-type(odd) {
    background-color: #8fbc8f !important;
}

tbody tr:nth-of-type(even) {
    background-color: #608d60db !important;
}

tr a {cursor: pointer;}

.first-section, .fourth-section {background-color: rgba(143, 188, 143, 0.5);
    margin-top: 35px;
    box-shadow: 0 0 5px #191919;
}

.second-section {background-color: rgba(99, 209, 99, 0.37);
    box-shadow: 0 0 5px #191919;
    padding: 50px;
    width: 70%;
    margin: 50px auto 50px auto;

}

hr {color: white;}

.third-section {background-color: rgba(255, 255, 255, 0.46);
    box-shadow: 0 0 5px #191919;
    margin-top: 15px;
    padding: 15px;
    }



img {width: 350px !important;
 height: 350px !important;
    display: block;
    margin: auto;
    border-radius: 25px;
 }

h1 {text-align: center;
color: black;
    font-weight: bold;
padding: 50px;}

figcaption {text-align: center;
    color: black;
    font-weight: bold;}

h6 {
    padding: 20px;
}

li {color: black;
    font-weight: bold;
list-style: none;}

h5,h4 {color: black;
    font-weight: bold;}

h4 {color: #241919;
text-align: center;}


.bg-light {padding: 0 50px 0 50px;
    background-color: #ffffff9e !important;
    box-shadow: 0 0 10px #00000038;

}


.navbuttons {list-style-type: none;

}

.buttons {
    font-weight: bold;
    display: inline-block;
    margin: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    color: black;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
}

.buttons:nth-child(2) {
    background: yellow;
}



.buttons a {text-decoration: none;
color: black;}



.buttons:hover {-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
overflow: hidden;
}



.buttons:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 3px;
    background: black;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.buttons:hover:before,
.buttons:focus:before,
.buttons:active:before

 {
    left: 0;
    right: 0;
}

.footy {
    background-color: #1c2820;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-text {

    text-align: center;
    color: #fffff0;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.source {color: #fffff0;
padding: 0;
text-align: center;
    font-weight: bold;
}


